/* G 3 */

#g_3_1 {
  stroke-dasharray: 1038.4000244140625;
  stroke-dashoffset: 1038.4000244140625;
  animation: g3_1 12s ease-in-out infinite;
}

@keyframes g3_1 {
  0%,
  33% {
    stroke-dashoffset: 1038.4000244140625;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1038.4000244140625;
  }
}

#g_3_2 {
  stroke-dasharray: 524.773193359375;
  stroke-dashoffset: 524.773193359375;
  animation: g3_2 12s ease-in-out infinite;
}

@keyframes g3_2 {
  0%,
  33% {
    stroke-dashoffset: 524.773193359375;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 524.773193359375;
  }
}

#g_3_3 {
  stroke-dasharray: 521.9873046875;
  stroke-dashoffset: 521.9873046875;
  animation: g3_3 12s ease-in-out infinite;
}

@keyframes g3_3 {
  0%,
  33% {
    stroke-dashoffset: 521.9873046875;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 521.9873046875;
  }
}

#g_3_4 {
  stroke-dasharray: 549.97900390625;
  stroke-dashoffset: 549.97900390625;
  animation: g3_4 12s ease-in-out infinite;
}

@keyframes g3_4 {
  0%,
  33% {
    stroke-dashoffset: 549.97900390625;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 549.97900390625;
  }
}

#g_3_5 {
  stroke-dasharray: 535.9154663085938;
  stroke-dashoffset: 535.9154663085938;
  animation: g3_5 12s ease-in-out infinite;
}

@keyframes g3_5 {
  0%,
  33% {
    stroke-dashoffset: 535.9154663085938;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 535.9154663085938;
  }
}

#g_3_6 {
  stroke-dasharray: 1038.396484375;
  stroke-dashoffset: 1038.396484375;
  animation: g3_6 12s ease-in-out infinite;
}

@keyframes g3_6 {
  0%,
  33% {
    stroke-dashoffset: 1038.396484375;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1038.396484375;
  }
}

#g_3_7 {
  stroke-dasharray: 1038.4002685546875;
  stroke-dashoffset: 1038.4002685546875;
  animation: g3_7 12s ease-in-out infinite;
}

@keyframes g3_7 {
  0%,
  33% {
    stroke-dashoffset: 1038.4002685546875;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1038.4002685546875;
  }
}

#g_3_8 {
  stroke-dasharray: 1038.396240234375;
  stroke-dashoffset: 1038.396240234375;
  animation: g3_8 12s ease-in-out infinite;
}

@keyframes g3_8 {
  0%,
  33% {
    stroke-dashoffset: 1038.396240234375;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1038.396240234375;
  }
}

/* G 4 */

#g_4_1 {
  stroke-dasharray: 2144.5234375;
  stroke-dashoffset: 2144.5234375;
  animation: g4_1 12s ease-in-out infinite;
}

@keyframes g4_1 {
  0%,
  33% {
    stroke-dashoffset: 2144.5234375;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 2144.5234375;
  }
}

#g_4_4 {
  stroke-dasharray: 1134.5185546875;
  stroke-dashoffset: 1134.5185546875;
  animation: g4_4 12s ease-in-out infinite;
}

@keyframes g4_4 {
  0%,
  33% {
    stroke-dashoffset: 1134.5185546875;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1134.5185546875;
  }
}

#g_4_5 {
  stroke-dasharray: 1106.0882568359375;
  stroke-dashoffset: 1106.0882568359375;
  animation: g4_5 12s ease-in-out infinite;
}

@keyframes g4_5 {
  0%,
  33% {
    stroke-dashoffset: 1106.0882568359375;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 1106.0882568359375;
  }
}

#g_4_6 {
  stroke-dasharray: 2144.523681640625;
  stroke-dashoffset: 2144.523681640625;
  animation: g4_6 12s ease-in-out infinite;
}

@keyframes g4_6 {
  0%,
  33% {
    stroke-dashoffset: 2144.523681640625;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 2144.523681640625;
  }
}

#g_4_7 {
  stroke-dasharray: 2144.51513671875;
  stroke-dashoffset: 2144.51513671875;
  animation: g4_7 12s ease-in-out infinite;
}

@keyframes g4_7 {
  0%,
  33% {
    stroke-dashoffset: 2144.51513671875;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 2144.51513671875;
  }
}

#g_4_8 {
  stroke-dasharray: 2144.51513671875;
  stroke-dashoffset: 2144.51513671875;
  animation: g4_8 12s ease-in-out infinite;
}

@keyframes g4_8 {
  0%,
  33% {
    stroke-dashoffset: 2144.51513671875;
  }

  44% {
    stroke-dashoffset: 0;
  }

  44%,
  55% {
    stroke-dashoffset: 0;
  }

  66%,
  100% {
    stroke-dashoffset: 2144.51513671875;
  }
}
